<!-- <div class="row" style="background-color:darkgreen;color: white;">
    <h2>About Us </h2>
    <div class="col-md-6">
        <p> WE ASPIRE TO CONNECT OUR VISITORS TO THEIR DESTINATIONS,THROUGH OUR LOCAL TOURGUIDES.</p>
    </div>
    <div class="col-md-6">
        <h2>OUR STORY</h2>
        <p>There is no reason to just visit the same place every time when the locals are on your
            finger-tips to show you more beautiful places around the city.</p>
        <br>
        <p>Show around is all about the activities that happens when you are not in your hotel room,and they can start from the momment
            you arrive at your destination.From  pick-up to depature,Localguide can be at your side always.
        </p>            
    </div> 
    <div style="background-color:rgb(215, 217, 250)">
            <h2>Privacy</h2>
            <a href = "#">About Us</a>
            <br>
            <a href = "#">Contact Us</a>
            <br>
            <a href = "#services">Services</a>   
    </div> -->
