
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/app/static/style.css">
</head>
<body style="color: white;background-color: black;">
    <div class="container" style="text-align: center; padding-top: 80px;">
        <div class="rows">
            <div class="col-md-6">
                <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Adventure</h1>
                <p>Tour cities with exceptional local tour guides.</p>
            </div>
            <br>
            <br>
            <div class="col-md-6">
                <label for="site-search">Location to visit :</label>
                <br>
                <input type="search" id="site-search" name="search" style="height: 30px; width:300px">
                <button style="background-color: darkgreen;color: white;width: 90px; height: 40px;">Search</button> 
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <h2>Popular Destinations in Kenya</h2>
        <div class="rows">
            <div class="col-md-6">
                <div class="card">
                    <p>Mombasa</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <p>Malindi</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <p>Maasai Mara</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <p>Nairobi</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container" style="text-align: center;">
        <h3>Add your experience.</h3>
        <button style="text-align: center;background-color: darkgreen;color: white;width: 90px; height: 40px;">ADD.</button>
    </div>

</body>
</html>